body{
    background:#888888;
    height:122vh;
    font-weight: bold;
    letter-spacing: 2px;
   
}
 *{
    margin: 0px;
    padding: 0px;
    font-family: monospace,sans-serif;
}
 .main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
}
.left{
    background-color:#fbb03b ;
    width: 200px;
    height: 100%;
    float: left;
}  
.right{
    width: 600px;
    float: left;
    direction: rtl;
   position: absolute;
   top: -570px;
}
.right p{
    padding-right: 60px;
    padding-top: 20px;
}
.profile-img{
    height: 170px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.box-1{
    position: relative;
}
.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    content:'';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}
span  img{
    padding-top: 5px;
    padding-left: 80px;
}
 .p1{ 
    padding-left: 5PX;
text-align: center;
     font-size: 15px;
  
}
.h-div img{
    padding-top: 10px;
    padding-right: 15px !important;
   
}
.skill-container{
    
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 10px;
  
}
.skill{
    text-align: right;
    padding-top: 4px;
    padding-bottom: 2px;
    color: white;
}
.html{
width: 90%;
background-color: white;
}
 .css{
    width: 70%;
    background-color: white;
    }
 .js{
        width: 50%;
        background-color: white; 
        }
        .jquery{
            
            width: 30%;
            background-color: white;
            } 
        .web{
        width: 45%;
            background-color: white;
        }
        .gra{
            width: 65%;
                background-color: white;
            }
            .h-div span{
                font-weight: bold;
                padding: 18px 10px;
            }
            .name-div{
                padding: 60px 0px;
                letter-spacing: 4px;
               
            }
             .box2{
              
                direction: ltr;
                /* padding: 0px 50px; */
                /* margin-top: 30px; */
            
            }
            .p2{
                    width: 115%;
                   font-size: 13px;
                  font-weight: 300;
                   letter-spacing: 1px;
                   word-spacing: 2px;
                   line-height: 22px;
                    margin-top: 3px
            }
            